* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 625%;
}

body {
    font-size: initial;
    background-color: #29BDE0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .44rem;
    
    border-bottom:1px solid rgba(255,255,255,.35);
}

.back {
    width: .1rem;
    height: .1rem;
    margin-left: .1rem;
    border: 3px solid #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
}

.header-title {
    color: #fff;
    font-size: .17rem;
}

.help {
    position: relative;
    width: 0rem;
    height: 0rem;
    margin-right: .1rem;
}

.help::before{
    content:"";
    position: absolute;
    top:0;
    right:0;
    width:.25rem;
    height:.02rem;
    background-color: #fff;
    transform: rotate(45deg);
}

.help::after{
    content:"";
    position: absolute;
    top:0;
    right:0;
    width:.25rem;
    height:.02rem;
    background-color: #fff;
    transform: rotate(-45deg);
}

.card{
    position: relative;
    width:70vw;
    height: 3.3rem;
    margin:.5rem auto 0;
    background-color: rgba(255,237,197,1);
    border:3px solid #fff;
}

.number{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%);
    width:.35rem;
    height:.35rem;
    line-height: .35rem;
    text-align: center;
    font-size: .2rem;
    font-weight: bold;
    color:#F56B81;
    background-color: #fff;
    border:2px solid rgba(255,237,197,1);
    border-radius: 50%;
}

.inverse{
    width:1.5rem;
    height:1.5rem;
    margin:.9rem calc(50% - 0.75rem) ;
}

.face{
    display: none;
    width:1.1rem;
    height: 1.1rem;
    margin:.3rem calc(50% - 0.55rem) .2rem;
}

.identity{
    display: none;
    color:#29BDE0;
    text-align: center;
    font-size: .2rem;
    font-weight: bold;
}

.look{
    display: block;
    width:75vw;
    height: .45rem;
    margin:.6rem auto 0;
    font-size: .2rem;
    line-height: .45rem;
    text-align: center;
    color:#fff;
    background-color: #FBB435;
    outline: none;
    border:none;
}