* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 625%;
}

body {
    font-size: initial;
    width: 100%;

    overflow-y: auto;

}

header {
    min-height: 1.4rem;
    width: 100%;
}

.headerHeight {
    height: 0.4rem;
    background-color: #ffffff;
}

@media screen and (max-width:576px){
    .headerHeight {
        height: 0.50rem;
        background-color: #ffffff;
    }
}

.customService {
    color: rgba(41, 176, 120, 1);
    font-size: 0.14rem;
}

.icons {
    font-size: 0
}

.wechat {
    width: 0.25rem;
    height: 0.24rem;
    background-image: url(../img/task8.2/css_sprites.png);
    background-position: -0 -0.48rem;
    display: inline-block;


}

.qq {
    width: 0.25rem;
    height: 0.24rem;
    background-image: url(../img/task8.2/css_sprites.png);
    background-position: -0 -0.24rem;
    display: inline-block;
    margin-left: 0.16rem;
}

.sina {
    width: 0.25rem;
    height: 0.24rem;
    background-image: url(../img/task8.2/css_sprites.png);
    background-position: -0 -0rem;
    display: inline-block;
    margin-left: 0.16rem;

}

.bgc {
    background-color: rgba(41, 176, 120, 1);
    height: 1rem;
}

.tree {
    font-size: 0.36rem;
    color: #ffffff;
    width: 1.2rem;

}

.url {
    font-size: 0.09rem;
    color: #ffffff;
    line-height: 0.19rem;
    width: 1.2rem
}

main {
    background-color: #fafafa;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#demo .uldown {
    margin-bottom: 0;
}


.why {
    margin-top: 1.63rem;
}

.whyHeight {
    height: 2.64rem;
}

.rocket {
    width: 0.43rem;
    height: 0.62rem;
    margin: 0.02rem auto 0 auto;
    background-position: -0 -1.36rem;
    background-image: url(../img/task8.1/css_sprites.png)
}

.word1 {
    margin: 0 auto;
    height: 0.78rem;
    font-size: 0.18rem;
    color: #333333;
    line-height: 0.78rem;
    font-weight: bold;
    width: 0.36rem;
}

.word2 {
    color: #999999;
}

.archive {
    width: 0.60rem;
    height: 0.48rem;
    margin: 0.14rem auto 0 auto;
    background-position: -0 -0.33rem;
    background-image: url(../img/task8.1/css_sprites.png)
}

.shape {
    width: 0.52rem;
    height: 0.55rem;
    margin: 0.11rem auto 0 auto;
    background-position: -0 -0.81rem;
    background-image: url(../img/task8.1/css_sprites.png)
}

.whyHeight2 {
    height: 2.64rem;
    padding: 0.34rem 0 0.63rem 0.42rem;
    border-left: 0.02rem dashed rgba(222, 222, 222, 1);
}

.user {
    display: inline-block;
    width: 0.13rem;
    height: 0.13rem;
    margin-top: 0.32rem;
    background-position: -0 -0rem;
    background-image: url(../img/task8.1/css_sprites.png)
}

.word3 {
    display: inline-block;
    font-size: 0.18rem;
    line-height: 0.18rem;
    color: #26A26F;
    font-weight: bold;
}

.how {
    margin-top: 1rem;
}

.howHeight {
    height: 1.66rem;
    font-size: 0;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content:space-between;
}

.howStudy {
    margin: 0 auto;
    width: 0.72rem;
    font-size: 0.18rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 0.24rem;
    height: 0.3rem;
}

.number {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(8, 1, 3, 0.15);
    font-size: 0.18rem;
    font-weight: bold;
    color: rgba(41, 176, 120, 1);
    line-height: 0.5rem;
    text-align: center;
    margin-left: 0.15rem;
}

.numberWord {
    
    width: 1.3rem;
    font-size: 14px;
    font-weight: bold;
    color: rgba(153, 153, 153, 1);
}

.numberWord2{
    margin-right: 0.1rem;
    margin-left: 0.1rem;
    max-width: 1.4rem;
    font-size: 14px;
    font-weight: bold;
    color: rgba(153, 153, 153, 1);
}

.arrow {
    width: 0.32rem;
    height: 0.3rem;
    background-image: url(../img/task8.1/arrow.png)
}

.arrow2{
    width: 0.32rem;
    height: 0.3rem;
    background-color: transparent;
}

.good {
    margin-top: 0.74rem;
}

.goodShow {
    height: 0.18rem;
    font-size: 0.18rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 0.18rem;
}

.goodHeight {
    margin-top: 0.72rem;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(8, 1, 3, 0.15);
    border-radius: 4px;
    padding: 0.16rem 0.15rem 0.35rem;
}

.man1 {
    background-image: url(../img/task8.1/css_sprites.png);
    background-position: -0 -3.28rem;
    width: 1.08rem;
    height: 1.08rem;
    margin: 0.16rem auto 0;
}

.manName {
    margin: 0.35rem auto;
    font-size: 0.18rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 0.18rem;

}

.showWord {

    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 0.26rem;
}

.woman1 {
    background-image: url(../img/task8.1/css_sprites.png);
    background-position: -0 -4.36rem;
    width: 1.08rem;
    height: 1.08rem;
    margin: 0.16rem auto 0;
}

.man2 {
    background-image: url(../img/task8.1/css_sprites.png);
    background-position: -0 -5.44rem;
    width: 1.08rem;
    height: 1.08rem;
    margin: 0.16rem auto 0;
}

.woman2 {
    background-image: url(../img/task8.1/css_sprites.png);
    background-position: -0 -6.52rem;
    width: 1.08rem;
    height: 1.08rem;
    margin: 0.16rem auto 0;
}

.good-circle {
    height: 0.38rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.circle {
    width: 0.13rem;
    height: 0.13rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 3px 0px rgba(8, 1, 3, 0.15);
    border-radius: 50%;
    margin: 0 0.02rem;
}

.circle:hover {
    background: rgba(41, 176, 120, 1);
}

.partner {
    margin-top: 1.33rem;
}

.partner-word {
    height: 0.18rem;
    font-size: 0.18rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 0.18rem;
    margin-bottom: 0.68rem;
}

.partner-width{
    padding:0 0.15rem;
}


.partner-box {
    height: 1.76rem;
    width: 100%;
    line-height: 1.76rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.partner-box:hover {
    box-shadow: 10px 10px 3px  rgba(8, 1, 3, 0.1);
    z-index: 1;
}

.friendlink {
    min-height: 1.35rem;
    
    width: 100%;
    margin-top: 0.93rem;
    padding-top: 0.21rem;
    padding-bottom:0.21rem;
    background-color: #ffffff;
    
}

.friendlink-title {
    line-height: 0.18rem;
    font-size: 0.18rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin-bottom:0.21rem;
}

.friend-width{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    color:rgba(153,153,153,1);
    font-size: 0;
    margin:0;
    text-align: center;
}

.friend{
    font-size:0.14rem;
    line-height:0.14rem;
    list-style-position: inside;
    margin-bottom:0.12rem;
}

.friendlink a{
    color:rgba(153,153,153,1);
    font-size: 0.14rem;
    width:100%;
    padding-bottom:0.05rem;
}

.friend-circle{
    display: inline-block;
    width:0.04rem;
    height:0.04rem;
    background:rgba(153,153,153,1);
border-radius:50%;
margin-bottom:0.03rem;
margin-right:0.1rem;

}

.friendlink a:hover{
    border-bottom:0.01rem solid rgba(38,162,111,1);
} 






.foot-color{
    min-height: 2rem;
    background-color: rgba(38, 162, 111, 1);
}

.footerHeight {
    color: #ffffff;
    
}

.footerLeft {
    padding-top: 0.36rem;
    padding-bottom: 0.34rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.7rem;
}

.slogan {
    font-size: 0.16rem;
    line-height: 0.16rem;
}

.us {
    font-size: 0.14rem;
    line-height: 0.14rem;
}

footer a{
    color: #ffffff;
    height:0.21rem;
    padding-bottom: 6px;
}



.footerA:hover {
    color: #ffffff;
    border-bottom:1px solid #ffffff;
    /* text-decoration: underline; */
}



.footerMiddle {
    height: 1.7rem;
    padding-top: 0.36rem;
    padding-bottom: 0.34rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adress {
    /* margin-top: 0.36rem; */
    line-height: 0.16rem;
}

.game {
    /* margin-top: 0.28rem; */
    line-height: 0.14rem;
    font-size: 0.14rem;

}

.copyRight {
    font-size: 0.12rem;
    line-height: 0.3rem;
    border-top: 0.01rem solid rgba(50, 192, 134, 1);
    color: #ffffff;
    background-color: rgba(38, 162, 111, 1);
}

.footerRight {
    height: 1.7rem;
    padding-top: 0.36rem;
    padding-bottom: 0.18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.wx {
    margin-bottom: 0.07rem;
    line-height: 0.16rem;
    font-size: 0.16rem;
    width: 0.96rem;
}

.two {
    margin-left: 0.02rem;
}

.line {
    border-bottom: 0.01rem solid rgba(50, 192, 134, 1);
    height: 0;
    width: 100%;
    display: none;
}

@media screen and (max-width:576px) {
    .whyHeight2 {
        height: 2.64rem;
        padding: 0;
        text-align: center;
        border-left: 0.03rem dashed rgba(222, 222, 222, 1);
    }

    .whyHeight {
        height: 2.64rem;
        text-align: center;
    }

    .friend{
        width:50%;
    }
}


@media screen and (max-width:768px) {
    .line {
        display: block;
    }

    .navRight {
        display: none;
    }

    button {
        outline: none;
        border: none;
        float: right;
        background-color: #29b078;
    }


    .menu {
        outline: none;
        width: 0.56rem;
        height: 0.4rem;
        border: 0.01rem solid #bec1c4;
        border-radius: 0.03rem;

    }

    .line2 {
        width: 0.25rem;
        height: 0.02rem;
        background-color: #999999;
        margin: 0.085rem auto 0 auto;
    }

    #collapsibleNav {
        width: 100%;
        height: 2rem;
    }

    .collapsibleNavHeight {
        margin-bottom: 0;
        width: 100%;
        background-color: #29b078;
    }

    .collapsibleNavHeight li {
        text-align: center;
        color: #ffffff;
        height: 0.5rem;
        line-height: 0.5rem;
    }

    a:hover {
        text-decoration: none;
    }

    .howHeight{
        justify-content: flex-start;
        height:0.8rem;
    }
    
    .numberWord{
        margin-left: 0.15rem;
        width:3rem;
    }

    .arrow{
        display: none;
    }
}

@media screen and (min-width:768px) {
    button {
        display: none;
    }

    #collapsibleNav {
        display: none;
    }

    .nav li {
        color: #ffffff;
        width: 1rem;
        height: 0.92rem;
        line-height: 0.92rem;
    }

    .navRight {
        margin-right: -0.34rem;
    }

    nav a {
        color: #ffffff;
    }

    a:hover {
        text-decoration: none;
    }

    .white {
        width: 100%;
        height: 0.04rem;
        background-color: #ffffff;
        display: none;
    }

    li:hover .white {
        display: block;
    }
}

@media screen and (min-width:992px){
    .friend{
        width:10%;
    }

    .arrow3{
        width: 0.32rem;
        height: 0.3rem;
        background-image: url(../img/task8.1/arrow.png)
    }

    .partner-box{
        width:20%;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .friend{
        width:20%;
    }
}

@media screen and (max-width:992px) and (min-width:768px){
    .arrow3{
        width: 0.32rem;
        height: 0.3rem;
        background-color: transparent;
    }
    .numberWord{
        width:2.25rem;
    }

    .partner-box{
        width:100%;
    }

}