* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 625%;
}

body {
    font-size: initial;
    line-height: 1;
    background: #f0f0f0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
