$nav-border:1px solid rgba(225, 229, 231, 1);
@mixin bg {
    background: {
        image: url(../img/task12.6.png);
        size: 1.065rem 0.22rem;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 625%;
}

body {
    font-size: initial;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0.84rem;
    z-index: 1;
}

.header-top {
    position: relative;
    width: 100%;
    height: 0.44rem;
    background-color: rgba(95, 192, 205, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    .map {
        position: absolute;
        right: 0.15rem;
        top: 50%;
        transform: translate(0, -50%);
        width: 0.21rem;
        height: 0.22rem;
        @include bg;
        background-position: -0.625rem 0;
    }

    .header-center {
        height: 0.35rem;
        width: 1.41rem;
        font-size: 0.17rem;
        text-align: center;
        color: #ffffff;
        line-height: 0.35rem;
        border-radius: 0.05rem;
        background-color: rgba(85, 168, 179, 1);

        .findWorker {
            float: right;
            width: 50%;
            height: 100%;
            color: rgba(95, 192, 205, 1);
            background-color: #ffffff;
            line-height: 0.35rem;
            border-radius: 5px;
        }
    }
}


nav {
    width: 100%;
    height: 0.4rem;
    font-size: 0.14rem;
    color: rgba(153, 153, 153, 1);
    line-height: 0.4rem;
    text-align: center;
    border-bottom: 1px solid rgba(225, 229, 231, 1);
    display: flex;

    .location {
        position: relative;
        width: 33.3%;
        border-right: $nav-border;

        &::after {
            content: "";
            position: absolute;
            right: 0.06rem;
            top: 0.18rem;
            width: 0;
            height: 0;

            border: 5px solid rgba(225, 229, 231, 1) {
                left-color: transparent;
                right-color: transparent;
                bottom-color: transparent;
            }
        }

        ul {

            display: none;
            list-style: none;

            &:first-child {
                border-top: $nav-border;
            }
        }

        &:hover ul {
            display: block;
        }

        li {
            background-color: #ffffff;
            border-bottom: $nav-border;
            border-right: $nav-border;
        }

        a {
            text-decoration: none;
            color: rgba(153, 153, 153, 1);
        }
    }

    .eal {
        @extend .location;

        li {
            border-left: $nav-border;
        }
    }

    .situation {
        @extend .eal;
        border: none;

        li {
            border-right: none;
        }
    }
}

main {
    position: fixed;
    top: 0.84rem;
    bottom: 0.5rem;
    width: 100%;
    overflow: hidden auto;
}

.box {
    position: relative;
    height: 0.9rem;
    width: 100%;
    border-bottom: $nav-border;
    display: flex;
    flex-direction: column;

    .date {
        margin-top: 0.14rem;
        font-size: 0.14rem;
        line-height: 0.14rem;
        color: #999999;

        .calendar {
            display: inline-block;
            width: 0.12rem;
            height: 0.12rem;
            margin: 0 0.08rem 0 0.15rem;
            @include bg;
            background-position: -0.095rem 0;

        }
    }

    .box-middle {
        margin-top: 0.12rem;
        display: flex;
        justify-content: space-between;

        .word-left {
            margin-left: 0.34rem;

            font: {
                size: 0.14rem;
                weight: bold;
            }

            color:rgba(51, 51, 51, 1);
            line-height: 0.14rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }

        .word-right {
            margin-right: 0.36rem;
            font-size: 0.15rem;
            line-height: 0.15rem;
            color: rgba(230, 59, 14, 1);
            white-space: nowrap;
        }
    }

    .adress {
        @extend .date;
        margin-top: 0.1rem;

        .map2 {
            display: inline-block;
            @include bg;
            width: 0.095rem;
            height: 0.115rem;
            margin: 0 0.08rem 0 0.16rem;
            background-position: -0 -0;
        }
    }

    .next {
        position: absolute;
        right: 0.16rem;
        top: calc(50% - 0.065rem);
        width: 0.13rem;
        height: 0.13rem;
        border: 2px solid rgba(95, 192, 205, 1) {
            left: none;
            top: none;
        }
        transform: rotate(-45deg);
    }
}

footer {
    position: fixed;
    bottom: 0;
    height: 0.5rem;
    width: 100%;
    background-color: rgba(248, 250, 251, 1);
    display: flex;
    align-items: center;

    .footer-left {
        width: calc(50% - .235rem);
        height: 100%;
        font-size: 0.1rem;
        line-height: 0.1rem;
        color: rgba(95, 192, 205, 1);
        display: flex;
        flex-direction: column;
        align-items: center;

        .house {
            width: 0.23rem;
            height: 0.2rem;
            margin: 0.06rem 0 0.07rem;
            @include bg;
            background-position: -0.835rem -0;
        }

    }

    .footer-right {
        @extend .footer-left;
        color: rgba(153, 153, 153, 1);

        .man {
            width: 0.21rem;
            height: 0.21rem;
            margin: 0.05rem 0 0.08rem;
            @include bg;
            background-position: -0.415rem 0;
        }
    }

    .footer-middle {
        width: 0.47rem;
        height: 0.47rem;
        border-radius: 50%;
        background: rgba(95, 192, 205, 1);

        .write {
            width: 0.2rem;
            height: 0.205rem;
            margin: 0.1325rem auto;
            @include bg;
            background-position: -0.215rem 0;
        }
    }

}